<nav class="top-bar" data-topbar role="navigation" data-options="is_hover: true">

  <ul class="title-area">
    <li class="name"><!-- Leave this empty --></li>
    <li class="toggle-topbar menu-icon"><a href="#"><span>Menu</span></a></li>
  </ul>

  <section class="top-bar-section">

    <ul class="left">

      <li class="has-dropdown map-dropdown baselayers">
        <a class="title" href="#">Couche de base <span class="layer-title"></span></a>
        <ul class="dropdown">
          <li>
            <a class="add-layer" data-id="terrain" href="#">Terrain</a>
          </li>
          <li>
            <a class="add-layer" data-id="satellite" href="#">Satellite</a>
          </li>
        </ul>
      </li>

      <li class="divider"></li>

      <li class="has-dropdown map-dropdown mining-data">
        <a class="title" href="#">Mines et infrastructures <span class="layer-title"></span></a>
        <ul class="dropdown">
          <li>
            <a class="add-layer" href="#" data-type="deposit" data-url="<%= get_all_deposits_map_url %>"><%= t('gisements') %></a>
          </li>
          <li>
            <a class="add-layer" href="#" data-type="processing_infrastructure" data-url="<%= get_all_processing_infrastructures_map_url %>"><%= t('installations_de_traitement') %></a>
          </li>
          <li>
            <a class="add-layer" href="#" data-type="social_project" data-url="<%= get_all_social_projects_map_url %>"><%= t('projets_sociaux') %></a>
          </li>
        </ul>
      </li>

      <li class="divider"></li>

      <li class="has-dropdown map-dropdown maps">
        <a class="title" href="#">Concessions <span class="layer-title"></span></a>
        <ul class="dropdown">
          <% TileLayer.all.each do |tile| %>
            <li>
              <a class="add-layer" href="#" data-id="<%= tile.mapbox_tile_layer %>"><%= tile.label %></a>
            </li>
          <% end %>
        </ul>
      </li>

      <li class="divider"></li>
    </ul>

  </section>
</nav>
