<nav class="top-bar" data-topbar role="navigation" data-options="is_hover: true">
  <section class="top-bar-section">

    <div class="row">
      <div class="small-12 columns">

        <ul class="left">
          <li class="has-dropdown">
            <a href="#">Mining Data</a>
            <ul class="dropdown">
              <li onclick="app.clearMap(); app.getGeodata('<%= get_deposits_geodata_drc_company_path{@drc_company} %>', <%= true %>)">
                <a href="#">Deposits</a>
              </li>
              <li onclick="app.clearMap(); app.getGeodata('<%= get_processing_infrastructures_geodata_drc_company_path{@drc_company} %>', <%= true %>)">
                <a href="#">Processing Infrastructures</a>
              </li>
              <li onclick="app.clearMap(); app.getGeodata('<%= get_social_projects_geodata_drc_company_path{@drc_company} %>', <%= true %>)">
                <a href="#">Social Projects</a>
              </li>
            </ul>
          </li>

          <li class="has-dropdown">
            <a href="#">Maps</a>
            <ul class="dropdown">
              <% TileLayer.all.each do |tile| %>
                <li>
                  <a href="#" data-id="<%= tile.mapbox_tile_layer %>"><%= tile.label %></a>
                </li>
              <% end %>
            </ul>
          </li>
        </ul>
      </div>
    </div>

  </section>

</nav>
